html{

	width:100%;



}
.container{


	margin:auto

}
body{
	background-image: url("images/fond.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin:0;
	padding:0;
	height:100%;

}
header{
	position: relative;
	top: 0;
	left: 0;
	background: #81A2DB;
	margin-bottom: 50px;
	width: 100%;
	box-sizing: border-box;
	height: 70px;
	z-index: 10;

}
div.row{
	background-color: rgba(129, 162, 219,0.6);
	border-radius:10px 0;

}

.titre{

	color: black;
}
#logo{
	float:left;
	height: auto;
}
#content{
	background-color : #eee;

	width: 80%;
	margin-top :5%;
	margin-bottom:5%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

}
.category{

	padding-bottom: 20px;
}
.category li{

	margin-left: 0;
	margin-right: 0;
	width:100%;
	display:flex;

}
#inscription_en_attente ul li{

	margin-left: auto;
	margin-right: auto;

	witdh:80%;
}
#inscription_en_attente ul{

	margin-left: auto;
	margin-right: auto;

	witdh:80%;
}


nav{
	float: right;
}

.icon {
	color: #eee;
	float: right;
	line-height: 70px;
	font-size: 24px;
	cursor: pointer;
	display: none;
	width: 50px;
	margin-top:10px;
}

@media screen and (max-width: 1125px) {
	.icon {
		display: block;
	}
	nav{
		position: absolute;
		width: 300px;
		background: #81A2DB;
		top: 150px;
		left:-100%;
		transition: 0.5s;
	}
	nav.active{
		left: 0px;
	}
	nav ul{
		display: block;
		text-align: center;
	}
	nav ul li a{
		border-bottom: 1px solid rgba(0,0,0,.2);
	}
}
ul{
	margin:0;
	padding:0;
	display: flex;
}
li{

	text-align: center;
	color: grey;
	font-size: 20px;
	background: #81A2DB;
	padding: 10px 15px;
	list-style: none;



}
a{
	height: 50px;
	line-height:50px;
	color: #000;
	float: left;

	text-decoration: underline;


}
container4 a img:hover{

	background-color: #81a2db;
}

.nav>li>a:hover{
	text-decoration: underline;
	outline: none;
	background-color:#81A2DB;
	color : #fff;
}


.nav>li>a{
	font-family: "Times",Helvetica,Arial,sans-serif;
	background: #81A2DB;
	height: 50px;
	line-height:50px;
	padding: 0 20px;
	text-align: center;
	margin: 0;
}

form{

}

footer{

	bottom:0;
	text-align:center;
	background-color : #81A2DB;
	width:100%;
	height: 150px;
}
footer h3{
	padding-top:70px;
}

/*CAROUSEL*/
.carousel-wrapper{
	height:600px;
	position:relative;
	width:100%;
	margin:0 auto;
}
.carousel-item{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	padding:25px 50px;
	opacity:0;
	transition: all 0.5s ease-in-out;
}
.arrow{
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 12px;
}

.arrow-prev{
	left:-30px;
	position:absolute;
	top:50%;
	transform:translateY(-50%) rotate(135deg);
}

.arrow-next{
	right:-30px;
	position:absolute;
	top:50%;
	transform:translateY(-50%) rotate(-45deg);
}

.light{
	color:white;
}
#list_user table{


	width:100%;
	margin: auto;
	text-align: center;
}
.pair{

	background-color: white ;

}
.impair{

	background-color: #81A2DB;

}

#mes_reservations table{


	width:100%;
	margin: auto;
	text-align: center;
}
#list_tournoi_a_venir table{

	width:100%;
	margin: auto;
	text-align: center;

}
#list_tournoi_en_cours table{

	width:100%;
	margin: auto;
	text-align: center;

}
#container4 {
	width: 1550px;
	height: 600px;
	margin: auto;
	padding-bottom: 50px;
	text-align: center;
	background-color: #EEEEEE;
}
#container4 #tableau{
	padding-top: 50px;
	width: 80%;
	margin: auto;
	text-align: center;

}
#container4 div {

	color: black;
	font-weight: bold;
}

section {
	width: 130px;
	height: 520px;
	float: left;
}

section > div {
	width: 100px;
	height: 20px;
	border: 1px solid #000;
	margin: 10px 0;
	background: #DF743A;
	color: white;
	padding: 10px 10px 10px 20px;
}

section > div:nth-child(2n) {
	margin-bottom: 40px;
}

.connecter {
	width: 30px;
	height: 520px;
	float: left;
}

.ligne {
	width: 30px;
	height: 520px;
	float: left;
}

.connecter div {
	border: 1px solid #000;
	border-left: none;
	height: 50px;
	width: 100%;
	margin: 80px 0 0 1px;
}

.connecter div:first-child {
	margin: 32px 0 0 1px;
}

.ligne div {
	border-top: 1px solid #000;
	margin: 133px 0 0 1px;
}

.ligne div:first-child {
	margin-top: 55px;
}

#quarterFinals > div {
	margin-top: 91px;
}

#quarterFinals > div:first-child {
	margin-top: 37px;
}

#conn2 div {
	margin-top: 133px;
	height: 133px;
}

#conn2 div:first-child {
	margin-top: 57px;
}

#ligne2 div {
	margin-top: 270px;
}

#ligne2 div:first-child {
	margin-top: 125px;
}
#semiFinals > div {
	margin-top: 230px;
}
#semiFinals > div:first-child {
	margin-top: 105px;
}
#conn3 div {
	margin-top: 125px;
	height: 270px;
}

#ligne3 div {
	margin-top: 270px;
}

#final > div {
	margin-top: 250px;
}


@media (max-width: 700px) {
	.arrow, .light .arrow {
		background-size: 10px;
		background-position: 10px 50%;
	}
}


/*Select every element*/
[id^="item"] {
	display: none;
}

.item-1 {
	z-index: 2;
	opacity: 1;
	background:url('images/slide1.jpg');
	background-size:cover;
}
.item-2{
	background:url('images/slide2.jpg');
	background-size:cover;
}
.item-3{
	background:url('images/slide3.jpg');
	background-size:cover;
}

*:target ~ .item-1 {
	opacity: 0;
}

#item-1:target ~ .item-1 {
	opacity: 1;
}

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
	z-index: 3;
	opacity: 1;
}

#container2{
	width:40%;

	margin-left: auto;
	margin-right: auto;

	margin-top:2%;
}
/* Bordered form */
#container2 form {

	padding: 30px;
	margin-top: 10%;
	width:80%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #f1f1f1;
	background: #ffffff;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container2 h1{
	width: auto;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 10px;

}
#contenair2 #donnee label{

	display: block;
	text-align: center;

}
#container2 input{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}


/* Set a style for all buttons */
#container2 input[type=submit] {
	background-color: #81a2db;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}
#container2 input[type=submit]:hover {
	background-color: white;
	color: #81a2db;
	border: 1px solid #81a2db;
	text-decoration: underline;
}
#container3 form {

	padding: 30px;
	margin-top: 10%;
	width:80%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #f1f1f1;


}
#container3 input[type=submit]:hover {
	background-color: white;
	color: #81a2db;
	border: 1px solid #81a2db;
	text-decoration: underline;
}
#container3 input{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}


/* Set a style for all buttons */
#container3 input[type=submit] {
	background-color: #81a2db;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}
#container3 h1{
	width: auto;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 10px;

}
#contenair3 #donnee label{

	display: block;
	text-align: center;

}
div .column{
	width: 95px;
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.col{
	width: 20%;
	margin:0;
	display: inline-block;
	text-align: center;
}
div>.btn-success{


	text-align: center;
}
div>.btn-success>p{

	width: 95px;

}
div>.btn-danger{
	width: 95px;
	text-align: center;
}
div>#menuJour{

	display:inline-flex;

}
@media screen and (min-width: 650px) {

	div>.btn-success{

		width: 95px;
		text-align: center;
	}
	div>.btn-success>p{

		width: 95px;

	}
	div>.btn-danger{
		width: 95px;
		text-align: center;
	}

}
@media screen and (max-width: 650px) {

	div>.btn-success{

		width: 60px;
		height: 45px;
		text-align: center;
	}
	div>.btn-success>p{

		width: 50px;

	}
	div>.btn-danger{
		height: 45px;
		width: 60px;
		text-align: center;
	}

}
